*{
    margin: 0;
    padding: 0;
}
body{
    /*width: 420px;
    height: 420px;*/
    background-image: url(../IMG/1.1.png);
    background-repeat: no-repeat;
    background-position: left 85px ;
    

}
input{
    display: block;
    height: 40px;
    width: 400px;
    margin: 5px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 15pt;
    padding: 10px 20px;
}
div /*corpo_form*/{
    width: 420px;
    margin: 200px 200px 0px auto;
    font-family: url(../FONT/ORBITRON/Orbitron-Black.ttf);
}
div /*corpo_form*/ h1{
    text-align: center;
    padding: 20px;
    font-size: 40px;

}
